<h1>Editing Computer Skill</h1>

<%= render 'form', computer_skill: @computer_skill %>

<%= link_to 'Show', profile_computer_skill_path(current_profile,@computer_skill) %> |
<%= link_to 'Back', profile_computer_skills_path %>
