<div class="container content">
 <h1 style="text-align: center;">Fuculty & Advisors</h1><br>
  <div class="row">
   <div class="col-xs-6 col-sm-3">
      <img src="http://placehold.it/240x300" alt="" class="img-responsive">
      <div class="caption">
         <h3>Nurlan Shaidulaev</h3>
         <p>Head of Department</p>
         <a href="#spoiler-1" data-toggle="collapse" class="btn btn-primary spoiler collapsed">Подробнее <i class="fa fa-arrow-right"></i></a>
      </div>
   </div>
   <div class="col-xs-6 col-sm-3">
      <img src="http://placehold.it/240x300" alt="" class="img-responsive">
      <div class="caption">
         <h3>Dilshat Anarbaev</h3>
         <p>Teacher</p>
         <a href="#spoiler-2" data-toggle="collapse" class="btn btn-primary spoiler collapsed">Подробнее <i class="fa fa-arrow-right"></i></a>
      </div>
   </div>
   <div class="col-xs-12 col-sm-6">
      <div class="collapse" id="spoiler-1">
           <div class="well">
              <h6>Subjects:</h6>
              <p>Introduction to Engineering and Computer Science</p>
              <p>Programming Languages 1</p>
              <p>Operating Systems</p>
              <p>Software Engineering 1-2</p>
           </div>
        </div>
   </div>
   <div class="col-xs-12 col-sm-6">
      <div class="collapse" id="spoiler-2">
           <div class="well">
              <h6>Subjects:</h6>
              <p>Web Technologies</p>
              <p>Engineering Computer Graphics</p>
              <p>Computer Graphics</p>
           </div>
        </div>
   </div>
</div><br><br>
<div class="row">
   <div class="col-xs-6 col-sm-3">
      <img src="http://placehold.it/240x300" alt="" class="img-responsive">
      <div class="caption">
         <h3>Marlen Akimaliev</h3>
         <p>Teacher</p>
         <a href="#spoiler-3" data-toggle="collapse" class="btn btn-primary spoiler collapsed">Подробнее <i class="fa fa-arrow-right"></i></a>
      </div>
   </div>
   <div class="col-xs-6 col-sm-3">
      <img src="http://placehold.it/240x300" alt="" class="img-responsive">
      <div class="caption">
         <h3>Burul Shambetova</h3>
         <p>Teacher</p>
         <a href="#spoiler-4" data-toggle="collapse" class="btn btn-primary spoiler collapsed">Подробнее <i class="fa fa-arrow-right"></i></a>
      </div>
   </div>
   <div class="col-xs-12 col-sm-6">
      <div class="collapse" id="spoiler-3">
           <div class="well">
              <h6>Subjects:</h6>
              <p>Design and Analysis of Algorithms</p>
              <p>Image Processing</p>
              <p>Thesis Diploma</p>
              <p>Object-Oriented Programming for MAT</p>
              <p>Independent Studies and deep reading</p>
              
           </div>
        </div>
   </div>
   <div class="col-xs-12 col-sm-6">
      <div class="collapse" id="spoiler-4">
           <div class="well">
              <h6>Subjects:</h6>
              <p>Programming Languages 1</p>
           </div>
        </div>
   </div>
</div><br><br>
<div class="row">
   <div class="col-xs-6 col-sm-3">
      <img src="http://placehold.it/240x300" alt="" class="img-responsive">
      <div class="caption">
         <h3>Sanjar Erdolatov</h3>
         <p>Head of Department</p>
         <a href="#spoiler-5" data-toggle="collapse" class="btn btn-primary spoiler collapsed">Подробнее <i class="fa fa-arrow-right"></i></a>
      </div>
   </div>
   <div class="col-xs-6 col-sm-3">
      <img src="http://placehold.it/240x300" alt="" class="img-responsive">
      <div class="caption">
         <h3>Aleksey Bondarev</h3>
         <p>Teacher</p>
         <a href="#spoiler-6" data-toggle="collapse" class="btn btn-primary spoiler collapsed">Подробнее <i class="fa fa-arrow-right"></i></a>
      </div>
   </div>
   <div class="col-xs-12 col-sm-6">
      <div class="collapse" id="spoiler-5">
           <div class="well">
              <h6>Subjects:</h6>
              <p>Computer Graphics</p>
              <p>Computer Networks & Telecommunication 1,2</p>
              <p>Computer Organization 1,2</p>
              <p>System Programming</p>
              
           </div>
        </div>
   </div>
   <div class="col-xs-12 col-sm-6">
      <div class="collapse" id="spoiler-6">
           <div class="well">
              <h6>Subjects:</h6>
              <p>Data Structure</p>
              <p>Programming Languages</p>

              
           </div>
        </div>
   </div>
</div><br><br>
</div>