<br>
<div class="container content" style="height: 500px;">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <table>
        <thead>
          <tr>
            <th>Advisors</th>
          </tr>
        </thead>
        <tbody>
          <% if @advisor!=nil %>
            <% @advisors.each do |advisor| %>
              <tr>
                <td><%= advisor.name %></td>
                <td><%= advisor.username %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3 col-xs-12">
      <%= link_to "All groups", profile_groups_path(current_profile, @group), class: "btn btn-info" %>
      <%= link_to "Dashboard",  rails_admin_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>