<div class="container content" style="height: 500px;">
  <div class="row">
    <%= @groupmates %>
    <table>
      <thead>
        <tr>
          <th>Students in this group</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |groups| %>
          <tr>
            <td><%= group.name %></td>
            <td><%= group.username %></td>
            <td><%= link_to 'Show Profile', profile_path(student) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>