<p id="notice"><%= notice %></p>

<p>
  <strong>Prof skill:</strong>
  <%= @professional_skill_list.prof_skill %>
</p>

<%= link_to 'Edit', edit_professional_skill_list_path(@professional_skill_list) %> |
<%= link_to 'Back', professional_skill_lists_path %>
