<div class="container content">
  <div class="row row-content">
     <div class="grid_16 clearfix">
    	<h2 class="public-page-heading">How to find us?</h2>
    	<div class="public-page-article">
                <p><a href="https://www.google.com/maps/preview#!q=International+atatturk-alatoo+university&amp;data=!1m4!1m3!1d3043!2d74.6770603!3d42.8566471!4m15!2m14!1m13!1s0x389eb6c95311ea6b%3A0x7023946675e4c5a9!3m8!1m3!1d25326278!2d44.4705977!3d41.8576238!3m2!1i1440!2i799!4f13.1!4m2!3d42.85588!4d74.680874" target="_blank"><img alt="MapMap" src="http://iaau.edu.kg/image?img=image_karta_8016442713758413155.png" style="border-style:solid; border-width:1px; float:left; height:244px; margin:10px; width:310px"></a></p>
                <p>&nbsp;</p>
                <h4 style="margin-left:360px"><strong><span style="font-family:georgia,serif"><span style="font-size:14px">International Ataturk Alatoo University, Ankara Street 1/8, Tunguch, 720048, Bishkek, Kyrgyz Republic</span></span></strong></h4>
                <h4 style="margin-left:360px"><span style="font-family:georgia,serif"><span style="font-size:14px">Tel:&nbsp;+996 (312) 63-14-25&nbsp;</span></span></h4>
                <h4 style="margin-left:360px"><span style="font-family:georgia,serif"><span style="font-size:15px">E-mail:&nbsp;<a href="mailto:cs@iaau.edu.kg" style="margin: 0px; padding: 0px; border: 0px; outline: none; font-size: 15px; vertical-align: baseline; text-decoration: none; color: rgb(85, 26, 139); font-family: Georgia, 'Times New Roman', Times, serif; line-height: 15px;">cs@iaau.edu.kg</a></span></span></h4>
                <h4 style="margin-left:360px">
                   <span style="font-family:georgia,serif">
                      <span style="font-size:14px">Micro-Buses: 102, 105, 128, 137, 147, 154, 166, 258, 262&nbsp</span>
                   </span>
                </h4>
                <h4 style="margin-left:360px">
                   <span style="font-family:georgia,serif">
                      <span style="font-size:14px">Buses: 7, 29&nbsp</span>
                   </span>
                </h4>
                <h4 style="margin-left:360px">
                   <span style="font-family:georgia,serif">
                      <span style="font-size:14px">Trolleybuses: 5, 7&nbsp</span>
                   </span>
                </h4>
    	</div>
    </div>
  </div>
</div>