<div class="container content" style="height: 500px;">
  <table>
    <thead>
      <tr>
        <th><h3>Language<h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Language</strong></td>
        <td><strong>Skill level</strong></td>
      </tr>
      <tr>
        <td><%= @language.language %></td>
        <td><%= @language.skill_level.level %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_profile_language_path(current_profile,@language) %> |
	<%= link_to 'Back', profile_languages_path(current_profile,@language) %>
</div>