<h1>Editing Work Experience</h1>

<%= render 'form', current_profile: @current_profile, work_experience: @work_experience %>

<%= link_to 'Back', profile_work_experiences_path(current_profile) %>

<!-- <%= link_to 'Show', profile_work_experience_path(current_profile, @work_experience) %> | -->
