<h1>Editing Professional Skill</h1>

<%= render 'form', professional_skill: @professional_skill %>

<%= link_to 'Show', profile_professional_skill_path(current_profile,@professional_skill) %> |
<%= link_to 'Back', profile_professional_skills_path(current_profile,@professional_skill) %>
