<div class="container content" style="height: 500px;">
  <table>
    <thead>
      <tr>
        <th><h3>Work Experiences<h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Skill list</strong></td>
        <td><strong>Skill level</strong></td>
      </tr>
      <tr>
        <td><%= @professional_skill.professional_skill_list.prof_skill %></td>
        <td><%= @professional_skill.skill_level.level %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_profile_professional_skill_path(current_profile,@professional_skill) %> |
	<%= link_to 'Back', profile_professional_skills_path(current_profile,@professional_skill) %>
</div>