<p id="notice"><%= notice %></p>

<p>
  <strong>Comp skill:</strong>
  <%= @computer_skill_list.comp_skill %>
</p>

<%= link_to 'Edit', edit_computer_skill_list_path(@computer_skill_list) %> |
<%= link_to 'Back', computer_skill_lists_path %>
