<div class="container content">
  <div class="row row-content">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="title-text">Bachalor Degree</h1>
     </div>
  </div>
  <div class="row row-content">
     <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quidem maxime, repudiandae exercitationem numquam soluta ea obcaecati voluptatem maiores laboriosam voluptas itaque, nisi, sint quis mollitia. Ratione nisi vitae, eos.</p>
     </div>
     <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 par-content"></div>
     <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat voluptatem, magni, incidunt doloribus aperiam laborum est. Distinctio, enim facilis, consequatur inventore odit sequi dolorem deleniti repellendus sit fugit ipsum dolores?</p>
     </div>
     <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <div class="row row-content">
     <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quidem maxime, repudiandae exercitationem numquam soluta ea obcaecati voluptatem maiores laboriosam voluptas itaque, nisi, sint quis mollitia. Ratione nisi vitae, eos.</p>
     </div>
     <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 par-content"></div>
     <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat voluptatem, magni, incidunt doloribus aperiam laborum est. Distinctio, enim facilis, consequatur inventore odit sequi dolorem deleniti repellendus sit fugit ipsum dolores?</p>
     </div>
     <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
</div>
</div>
