<p id="notice"><%= notice %></p>

<h1>Dashboard <%= current_profile.to_s %></h1>

<table>
  <thead>
    <tr>
      <th>Organizational skill</th>
      <th>Publicaton</th>
      <th>Project</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>


</table>

<br>

<%= link_to 'New Skill', new_skill_path %>
