<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<p>
  <strong>Role:</strong>
  <%= @profile_role.role %>
</p>

=======
>>>>>>> master
<%= link_to 'Edit', edit_profile_role_path(@profile_role) %> |
<%= link_to 'Back', profile_roles_path %>
