<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @profile_role.role %>
</p>

<%= link_to 'Edit', edit_profile_role_path(@profile_role) %> |
<%= link_to 'Back', profile_roles_path %>
