<br>
<div class="container content" style="height: 500px;">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Groups</th>
        </tr>
      </thead>
      <tbody>
        <% if @group != nil %>
          <% @groups.each do |group| %>
            <tr>
              <td><%= group.name %></td>
              <td><%= link_to 'Show group students', profile_students_path(:id => group.id) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>