<div class="container content" style="height: 500px;">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Students in thes group</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.name %></td>
            <td><%= student.username %></td>
            <td><%= link_to 'Show Profile', profile_path(student) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>